DirectoryIndex index.php
FallbackResource index.php
AddCharset UTF-8 .html
AddCharset UTF-8 .php
Options -Multiviews
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_URI} !web/
RewriteRule (.*) /web/$1 [L]