DirectoryIndex index.php
FallbackResource index.php
AddCharset UTF-8 .html
AddCharset UTF-8 .php
Options -Multiviews
Options +FollowSymLinks

RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(/.*)/$
RewriteRule ^(.*\..*)$ $1 [L]

RewriteRule ^([a-z,A-Z,0-9/-]+)$ index.php?page=$1 [L]

# Disallow direct access to PHP and HTML files
<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.html>
    Order Deny,Allow
    Deny from all
</Files>
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>